<div class="footer" fxFlexAlign="start start" fxLayoutAlign="center" fxLayoutAlign.gt-sm="start start" >
    <ul>
      <h3>{{STRINGS[0].contactMe[lan]}}:</h3>
      <li>
        <i class="material-symbols-outlined">phone</i><a href="tel:+393801010977" target="_blank">+39 3801010977</a>
      </li>
      <li>
        <fa-icon [icon]="whatsapp"></fa-icon><a href="https://wa.me/+393801010977" target="_blank">+39 3801010977</a>
      </li>
      <li>
        <i class="material-symbols-outlined">email</i><a href="mailTo:l.corvino@live.it" target="_blank">l.corvino@live.it</a>
      </li>
    </ul>
  </div>