
li{
    text-align: center;
    transition: transform 0.3s cubic-bezier(0.175, 1.485, 0.22, 1.975);
    overflow: hidden;
    i{
        transition:transform 0.3s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        display: inline-block;
        margin-right: 10px;
        transition: all 0.5s;
    }
}
.animicon{
    transform: scale(0.2);
    i{
        transform: translateY(-40px);
    }
}
a{
    color: var(--primary-text-inactive);
    margin: 0;
}
@media screen and (max-width:960px) {
    .footer{
        font-size: 16px;
    }
}