.skills{
    color: var(--primary-text-inactive);
    line-height: 20px;
    font-size: 16px;
    h3{
        margin:0;
        margin-block: 0;
        display: inline;
        font-size: 16px;
        color: var(--primary-text);
    }
    span{
        color: var(--primary-text);
    }
}