.skills{
    color: var(--primary-text-inactive);
    line-height: 20px;
    font-size: 16px;
    h3{
        margin:0;
        margin-block: 0;
        display: inline;
        font-size: 16px;
        color: var(--primary-text);
    }
    span{
        color: var(--primary-text);
    }
}
.education{
    div{
        transition: all .4s;
    }
    table{
        padding: 10px;
        font-size: 16px;
        border-collapse: collapse;
        margin:10px;
        tr{
            th{
                width: 150px;
                align-items: flex-start;
                justify-content: flex-start;
                text-align: start;
                vertical-align: top;
            }
            td,th{
                padding: 10px;
            }
        }
        tr:nth-child(odd){
            background-color: #fff1;
        }
    }
}