.welcome-container{
    height: 120px;
    width: 100%;
    .welcome{
        animation: stroke 4s 1s forwards;
        stroke-width: 2px;
        fill:#fff0;
        stroke-dashoffset: 500;
        stroke-dasharray: 0 50%;
        stroke:var(--primary-text);
        font-size: 150px;
        height: 100%;
    }
}
.propic{
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    min-height: 120px;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    img{
        position: relative;
        width: 100%;
        top:-10px;
    }
}
.contact-me{
    margin-top:50px;
    padding: 0 50px;
}
@keyframes stroke{
    0%{stroke-dashoffset: 500;fill:#fff0;stroke-dasharray: 0 50%;}
    60%{stroke-width: 2px;fill:#fff0;}
    90%{stroke-dashoffset: 0;fill:var(--primary-text); stroke-dasharray: 50% 0;}
    100%{fill:var(--primary-text);stroke-width: 0;}
}

