<div class="background">
    about me
</div>
<div fxFlex="100" class="content" fxLayout="row wrap">
    <div fxFlex="100" fxLayoutAlign="center" class="welcome-container section">
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg fxFlex.gt-sm="50" version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 810.1 213.2"
            style="enable-background:new 0 0 810.1 213.2;">
            <text class="welcome"
                transform="matrix(1 0 0 1 0 127.3502)" [innerHTML]="STRINGS[0].welcome[lang]">
            </text>
        </svg>
    </div>
    <div fxHide.gt-sm fxLayoutAlign="center center"*ngIf="init" @enterBottom class="propic">
        <img  src="assets/images/propic.jpg" alt="propic" >
    </div>
    <div fxFlex="100" class="animated-text presentation section" appText [delay]="delay" [pres]="presentation">
    </div>
    <div fxFlexAlign="start" class="contact-me section" fxFlex="100">
        <a fxFlex.lt-sm="100" *ngIf="init" class="btn btn-link" routerLink="/contacts" appButton
            @enterBottom>{{STRINGS[0].contactMe[lang]}}</a>
    </div>
</div>