<div class="background">
    about me
</div>
<div fxFlex="100" class="content" fxLayoutAlign="start start" fxLayout="row wrap">
    <div fxFlex="50" class="welcome-container section" fxFlexOffset="25">
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 810.1 213.2" style="enable-background:new 0 0 810.1 213.2;">
            <text class="welcome" width="100%" transform="matrix(1 0 0 1 1.296997e-004 127.3502)">{{STRINGS[0].welcome[lang]}}!
            </text>
        </svg>
    </div>
    <div fxFlex="100" class="animated-text presentation section" appText [delay]="delay" [pres]="presentation" >
    </div>
    <div class="contact-me section">
        <a *ngIf="init" class="btn btn-link" routerLink="/contacts" appButton @enterBottom>{{STRINGS[0].contactMe[lang]}}</a>
    </div>
</div>